<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6C6oDFY9BY9-2cx1dx5IL09DLjM4TvxY</string>
	<key>GCM_SENDER_ID</key>
	<string>1063719893468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nadatraceapp</string>
	<key>PROJECT_ID</key>
	<string>nadatrace-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nadatrace-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063719893468:ios:13fbd07d2cb6de3125b719</string>
</dict>
</plist>